<div id="exportWebZipProject"class="form-group has-feedback ">
      
     <div>
		<label>{{gettext "Path where save of zip file:"}}</label><input name="path" type="file" nwsaveas="project.zip"</label> 
     </div>
</div>
<p><p>
<div> 
<button id="exportwebzipback">{{gettext "Cancel"}}</button>
<button id="exportwebzipbtn" disabled="disabled">{{gettext "Generate zip"}}</button>
</div>
<p><p>
<div class="waitingOK" style="display:none"><font color="#FC0202"><strong>{{gettext "Zip Generation in progress. Please wait a moment..."}}</strong></font></div>
<div class="waitingER" style="display:none"><font color="#FC0202"><strong>{{gettext "There was an error generating WeZip file. Please cancel the process"}}</strong></font></div>
