<div id="exportScormProject"class="form-group has-feedback ">
      
     <div>
		<label>{{gettext "Path where save of scorm file:"}}</label><input name="path" type="file" nwsaveas="project_scorm.zip"</label> 
     </div>
</div>
<p><p>
<div> 
<button id="exportscormback">{{gettext "Cancel"}}</button>
<button id="exportscormbtn" disabled="disabled">{{gettext "Generate Scorm"}}</button>
</div>
<p><p>
<div class="waitingOK" style="display:none"><font color="#FC0202"><strong>{{gettext "Scorm Generation in progress. Please wait a moment..."}}</strong></font></div>
<div class="waitingER" style="display:none"><font color="#FC0202"><strong>{{gettext "There was an error generating Scorm file. Please cancel the process"}}</strong></font></div>
