<div id="exportPdfProject"class="form-group has-feedback ">
        <div>
		<label for="pagesize">{{gettext "Page size:"}}</label>
			<select class="form-group" name="pagesize"> 
				<option value="A4">A4</option>
				<option value="A3">A3</option>
				<option value="A2">A2</option>
				<option value="Letter">Letter</option>
			</select>
      	</div>
	<p><p>        
	<div>
      		<label for="orientationpage">{{gettext "Page Orientation:"}}</label>
			<label class="radio-inline"><input type="radio" name="orientation" value="Portrait" checked="checked">{{gettext "Portrait"}}</label>
			<label class="radio-inline"><input type="radio" name="orientation" value="Landscape">{{gettext "Landscape"}}</label>
        </div>
        <p><p>
        <div>
      		<label for="numerationpage">{{gettext "Include page numbers:"}}</label>
			<label class="radio-inline"><input type="radio" name="numeracion" value="1">{{gettext "Yes"}}</label>
			<label class="radio-inline"><input type="radio" name="numeracion" value="0" checked="checked">{{gettext "No"}}</label>
                  
                <label for="positionnumber"></label>
			<label class="radio-inline"><input type="radio" name="posicionN" value="footerLeft" disabled="disabled">{{gettext "Left"}}</label>
			<label class="radio-inline"><input type="radio" name="posicionN" value="footerCenter" disabled="disabled" checked="checked">{{gettext "Center"}}</label>
			<label class="radio-inline"><input type="radio" name="posicionN" value="footerRight" disabled="disabled">{{gettext "Right"}}</label>
       </div>
       <p><p>
       <div>
      		<label for="headerpage">{{gettext "Include page header:"}}</label>
			<label class="radio-inline"><input type="radio" name="header" value="1">{{gettext "Yes"}}</label>
			<label class="radio-inline"><input type="radio" name="header" value="0" checked="checked">{{gettext "No"}}</label>
                  
                <label for="positionheader"></label>
			<label class="radio-inline"><input type="radio" name="posicionH" value="headerLeft" disabled="disabled">{{gettext "Left"}}</label>
			<label class="radio-inline"><input type="radio" name="posicionH" value="headerCenter" disabled="disabled" checked="checked">{{gettext "Center"}}</label>
			<label class="radio-inline"><input type="radio" name="posicionH" value="headerRight" disabled="disabled">{{gettext "Right"}}</label>
     </div>	
     <p><p>
     <div>
		<label for="headertext">{{gettext "Text to header page"}}</label>
			<input name="headertext" class="form-control" placeholder="{{gettext "Enter header page text"}}" value="{{headertext}}"disabled="disabled"</input> 
     </div>
     <p><p>
     <div>
		<label>{{gettext "Path where save of pdf file:"}}</label><input name="path" type="file" nwsaveas="proyect.pdf" disabled="disabled"</label> 
     </div>
</div>
<p><p>
<div> 
<button id="exportpdfback">{{gettext "Cancel"}}</button>
<button id="exportpdfbtn" disabled="disabled">{{gettext "Generate pdf"}}</button>
</div>
<p><p>
<div class="waiting" style="display:none"><font color="#FC0202"><strong>{{gettext "PDF Generation in progress. Please wait a moment..."}}</strong></font></div>

