<table id="listProjects" class="table table-striped">
	<tbody>
		{{#each projects}}
		<tr>
		<td class="name">{{this.name}}</td><td><button type="button" class="open" data-path="{{this.path}}">{{gettext "Open"}}</button></td>
		</tr>
		{{/each}}
	</tbody>
</table>

<button id="newproject" type="button" style="float:left">{{gettext "New project"}}</button>
<button id="openproject" type="button" style="float:right">{{gettext "Open project"}}</button>