<div id="projectnamecontainer" class="form-group has-feedback ">
	<label for="projectname">{{gettext "Project name"}}</label>
	<input id="projectname" class="form-control" placeholder="{{gettext "Enter project name"}}" aria-describedby="inputSuccess2Status">
	<span id="validateindicator" class="glyphicon form-control-feedback" aria-hidden="true"></span>
	<span id="inputSuccess2Status" class="sr-only">(success)</span>
</div>
<div class="btn-toolbar" role="toolbar">
	<div class="btn-group" role="group" id="importbuttonactions">
		<button id="importhtml5" class="btn btn-default" type="button" style="display:inline-block" disabled="disabled">{{gettext "HTML5"}}</button>
		<button id="importscorm" class="btn btn-primary" type="button" style="display:inline-block" disabled="disabled">{{gettext "SCORM"}}</button>
		<button id="importims" class="btn btn-primary" type="button" style="display:inline-block" disabled="disabled">{{gettext "IMS"}}</button>
	</div>
</div>
<button id="wzrdgoback">{{gettext "Cancel"}}</button>