<div id="projectnamecontainer" class="form-group has-feedback ">
	<label for="projectname">{{gettext "Project name"}}</label>
	<input id="projectname" class="form-control" placeholder="{{gettext "Enter project name"}}" aria-describedby="inputSuccess2Status">
	<span id="validateindicator" class="glyphicon form-control-feedback" aria-hidden="true"></span>
	<span id="inputSuccess2Status" class="sr-only">(success)</span>
</div>
<button id="advprojbtn" disabled="disabled">{{gettext "Advanced Project"}}</button>
<button id="smplprojbtn" disabled="disabled">{{gettext "Simple Project"}}</button>
<button id="wzrdgoback">{{gettext "Go back"}}</button>