{{#if sections}}
	<item identifier="{{@key}}" isvisible="true" identifierref="{{resourcecode}}">
		<title>{{title}}</title>
		{{#each sections.items}}
		{{> scormitem}}
		{{/each}}
	</item>
{{else}}
	<item identifier="{{@key}}" isvisible="true" identifierref="{{resourcecode}}">
		<title>{{title}}</title>
	</item>
{{/if}}