<textarea id="description">{{description}}</textarea>
{{gettext "Group:"}}<input id='group' type='number' min='1' max='10' value='{{group}}'/>
{{{toolbar}}}
<div id="activitytext">{{{activitytext}}}</div>