<textarea name="" id="activitydescription">{{description}}</textarea>
<div id="listquestions">
	{{#each questions}}
		<div data-pemidentifier="{{this.answer}}"><input type="checkbox" name="question" value="" {{this.checked}}><span class="checkbox"></span><textarea>{{this.text}}</textarea><button type="button" onclick="deleteQuestion(this)">{{gettext "Delete"}}</button></div>
	{{/each}}
</div>
<div><button id="addquestion" type="button">{{gettext "Add question"}}</button></div>
<script type="text/javascript" charset="utf-8">
	function deleteQuestion(button){
		button.parentElement.remove();
	}
</script>